<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar todas as solicitações para o arquivo index.php, exceto se um arquivo ou diretório real existir
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
